{% extends 'base.html.twig' %}

{% block title %}Cart{% endblock %}

{% block body %}
    {% include 'header.html.twig' %}
    <div class="container shadow p-3 mb-5 bg-white rounded">
        <div>
            <div class="mt-4">
                <h2>My Cart</h2>
            </div>
            {% if cart is not null %}
           <div class="mt-3 table-responsive">
               <table class="table table-hover">
                   <thead>
                   <tr>
                       <th scope="col">#</th>
                       <th scope="col">Book</th>
                       <th scope="col">Unit Price</th>
                       <th scope="col">Quantity</th>
                       <th scope="col">Total</th>
                       <th scope="col"></th>
                   </tr>
                   </thead>
                   <tbody>
                   {% for item in cart.getItems() %}
                       <tr>
                           <th scope="row">{{ item.item.id }}</th>
                           <td>{{ item.item.title }}</td>
                           <td>{{ item.item.price }}</td>
                           <td class="item-qty"><input class="quantity" name="quantity" type="number" min="0" value={{ item.qty }}  data-book-id={{ item.item.id }}></td>
                           <td>{{ item.price }}</td>
                       </tr>
                   {% endfor %}
                   <tr>
                       <th scope="row"></th>
                       <td colspan="3">Children Discount</td>
                       <td>USD {{ cart.getChildrenDiscount() }}</td>
                   </tr>
                   <tr>
                       <th scope="row"></th>
                       <td colspan="3">Category Discount</td>
                       <td>USD {{ cart.getCategoryDiscount() }}</td>
                   </tr>
                   <tr>
                       <th scope="row"></th>
                       <td colspan="3">Total Discount</td>
                       <td>USD {{ cart.getChildrenDiscount() + cart.getCategoryDiscount() }}</td>
                   </tr>
                   <tr>
                       <th scope="row"></th>
                       <td colspan="3">Total Price</td>
                       <td>USD {{ cart.getDiscountPrice() }}</td>
                   </tr>
                   </tbody>
               </table>
           </div>
            <div class="mt-2 text-right">
                <form action={{ path('store_checkout') }}>
                    <button class="btn btn-outline-primary" type="submit">
                        <i class="fa fa-cart-plus fa-1x" aria-hidden="true"> Continue Shopping</i>
                    </button>
                </form>
            </div>
            {% else %}
                <span>Cart is empty</span>
            {% endif %}
        </div>
    </div>
{% endblock %}
