{% extends 'base.html.twig' %}

{% block title %}Cart{% endblock %}

{% block body %}
    {% include 'header.html.twig' %}
    <div class="container shadow p-3 mb-5 bg-white rounded">
        <div>
            <div class="mt-4">
                <h2>Check out</h2>
            </div>
           <div class="mt-3 table-responsive">
               <table class="table table-hover">
                   <thead>
                   <tr>
                       <th scope="col">#</th>
                       <th scope="col">Book</th>
                       <th scope="col">Unit Price</th>
                       <th scope="col">Quantity</th>
                       <th scope="col">Total</th>
                   </tr>
                   </thead>
                   <tbody>
                   {% for item in cart.getItems() %}
                       <tr>
                           <th scope="row">1</th>
                           <td>{{ item.item.title }}</td>
                           <td>{{ item.item.price }}</td>
                           <td>{{ item.qty }}</td>
                           <td>{{ item.price }}</td>
                       </tr>
                   {% endfor %}
                   <tr>
                       <th scope="row"></th>
                       <td colspan="3">Children Discount</td>
                       <td>USD {{ cart.getChildrenDiscount() }}</td>
                       <td></td>
                   </tr>
                   <tr>
                       <th scope="row"></th>
                       <td colspan="3">Category Discount</td>
                       <td>USD {{ cart.getCategoryDiscount() }}</td>
                       <td></td>
                   </tr>
                   <tr>
                       <th scope="row"></th>
                       <td colspan="3">Total Discount</td>
                       <td>USD {{ cart.getChildrenDiscount() + cart.getCategoryDiscount() }}</td>
                       <td></td>
                   </tr>
                   <tr>
                       <th scope="row"></th>
                       <td colspan="3">Total Price</td>
                       <td>USD {{ cart.getDiscountPrice() }}</td>
                   </tr>
                   </tbody>
               </table>
           </div>
            <div>
                <form>
                    <div class="mb-3">
                        <h3>Delivery address</h3><hr>
                        <div class="pt-2">
                            <div class="form-row">
                                <div class="form-group col-md-6">
                                    <label for="inputFirstName">First Name</label>
                                    <input type="text" class="form-control" id="inputFirstName" placeholder="First Name">
                                </div>
                                <div class="form-group col-md-6">
                                    <label for="inputLastName">Last Name</label>
                                    <input type="text" class="form-control" id="inputLastName" placeholder="First Name">
                                </div>
                            </div>
                            <div class="form-row">
                                <div class="form-group col-md-6">
                                    <label for="inputPhoneNumber">Phone Number</label>
                                    <input type="number" class="form-control" id="inputPhoneNumber" placeholder="Phone">
                                </div>
                                <div class="form-group col-md-6">
                                    <label for="inputEmail">Email</label>
                                    <input type="email" class="form-control" id="inputEmail" placeholder="Email">
                                </div>
                            </div>
                            <div class="form-group">
                                <label for="inputAddress">Address</label>
                                <input type="text" class="form-control" id="inputAddress" placeholder="1234 Main St">
                            </div>
                            <div class="form-group">
                                <label for="inputAddress2">Address 2</label>
                                <input type="text" class="form-control" id="inputAddress2" placeholder="Apartment, studio, or floor">
                            </div>
                            <div class="form-row">
                                <div class="form-group col-md-3">
                                    <label for="inputCity">City</label>
                                    <input type="text" class="form-control" id="inputCity">
                                </div>
                                <div class="form-group col-md-3">
                                    <label for="inputZip">Zip</label>
                                    <input type="text" class="form-control" id="inputZip">
                                </div>
                                <div class="form-group col-md-3">
                                    <label for="inputCountry">Country</label>
                                    <input type="text" class="form-control" id="inputCountry">
                                </div>
                                <div class="form-group col-md-3">
                                    <label for="inputState">State</label>
                                    <input type="text" class="form-control" id="inputState">
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="mb-3">
                        <h3>Payment information</h3><hr>
                        <div class="pt-2">
                            <div class="form-row">
                                <div class="form-group col-md-3">
                                    <label for="inputCreditCard">Credit card</label>
                                    <input type="text" class="form-control" id="inputCreditCard">
                                </div>
                                <div class="form-group col-md-3">
                                    <label for="inputCardNumber">Number</label>
                                    <input type="text" class="form-control" id="inputCardNumber">
                                </div>
                                <div class="form-group col-md-3">
                                    <label for="inputExpires">Expires</label>
                                    <input type="month" value="2020-07" class="form-control" id="inputExpires">
                                </div>
                                <div class="form-group col-md-3">
                                    <label for="inputCardId">Card ID</label>
                                    <input type="number" class="form-control" id="inputCardId">
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="mb-3 text-right">
{#                        <table class="float-right">#}
{#                            <tbody>#}
{#                            <tr>#}
{#                                <td>Total items:</td>#}
{#                                <td>US$ 100</td>#}
{#                            </tr>#}
{#                            <tr>#}
{#                                <td>Delivery charges:</td>#}
{#                                <td>US$ 1</td>#}
{#                            </tr>#}
{#                            </tbody>#}
{#                        </table>#}
                        <div class="row">
                            <div class="col">
                                <div class="text-right float-right">
                                    <span>Total items: </span>
                                    <span>US$ 100</span>
                                </div>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col">
                                <div class="text-right float-right">
                                    <span>Delivery charges: </span>
                                    <span>US$ 1</span>
                                </div>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col mt-1 mb-2">
                                <div class="text-right float-right">
                                    <span>Total US$</span>
                                    <span class="text-xxl text-success">101</span>
                                </div>
                            </div>
                        </div>
                        <button type="submit" class="btn btn-lg btn-success">Purchase</button>
                    </div>
                </form>
            </div>
        </div>
    </div>
{% endblock %}
