{% extends 'base.html.twig' %}

{% block title %}Register{% endblock %}

{% block body %}
    <section id="cover" class="min-vh-100">
        <div class="cover-caption">
            <div class="container">
                <div class="row text-white">
                    <div class="col-xl-5 col-lg-6 col-md-8 col-sm-10 mx-auto text-center form p-4">
                        <h1 class="display-5 py-2 text-truncate">Please Sign up</h1>
                        {% for flashError in app.flashes('verify_email_error') %}
                            <div class="alert alert-danger" role="alert">{{ flashError }}</div>
                        {% endfor %}
                        <div class="px-2 justify-content-center">
                            {{ form_start(registrationForm) }}
                            <div class="form-row ">
                                <div class="col-md-6 text-left">
                                    {{ form_row(registrationForm.firstName) }}
                                </div>
                                <div class="col-md-6 text-left">
                                    {{ form_row(registrationForm.lastName) }}
                                </div>
                            </div>
                            <div class="form-row ">
                                <div class="col-md-6 text-left">
                                    {{ form_row(registrationForm.email) }}
                                </div>
                                <div class="col-md-6 text-left">
                                    {{ form_row(registrationForm.plainPassword, {
                                        label: 'Password'
                                    }) }}
                                </div>
                            </div>
                            {{ form_row(registrationForm.agreeTerms) }}
                            <button class="btn btn-lg btn-primary btn-block mt-4" type="submit">
                                Sign up
                            </button>
                            {{ form_end(registrationForm) }}
                            <div class="text-left mt-3">
                                <span>Already have a account ...? Please <a href={{ path('app_login') }}>login</a></span>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
{% endblock %}
