{% extends 'base.html.twig' %}

{% block title %}Book List{% endblock %}

{% block body %}
    {% include 'header.html.twig' %}
    <div class="container shadow p-3 mb-5 bg-white">
        <div>
            <div class="mt-2 text-right">
                <a class="btn btn-outline-primary" href={{ path('admin_book_add') }}>
                    <i class="fa fa-plus fa-1x" aria-hidden="true"> Add Book</i>
                </a>
            </div>
            <div class="mt-3 table-responsive">
                <table class="table table-hover">
                    <thead>
                    <tr>
                        <th scope="col">#</th>
                        <th scope="col">Book</th>
                        <th scope="col">Author</th>
                        <th scope="col">Action</th>
                    </tr>
                    </thead>
                    <tbody>
                    {% for book in books  %}
                        <tr>
                            <th scope="row">{{ book.id }}</th>
                            <td><a href="/book/{{ book.id }}">{{ book.title }}</a></td>
                            <td>{{ book.author.name }}</td>
                            <td>
                                <button class="btn">
                                    <i class="fa fa-pencil fa-1x" aria-hidden="true"></i>
                                </button>
                                <button class="btn">
                                    <i class="fa fa-trash fa-1x" aria-hidden="true"></i>
                                </button>
                            </td>
                        </tr>
                    {% endfor %}
                    </tbody>
                </table>
                <nav aria-label="Page navigation example">
                    <ul class="pagination">
                        {{ knp_pagination_render(books) }}
                    </ul>
                </nav>
            </div>
        </div>
    </div>
{% endblock %}
