{% extends 'base.html.twig' %}

{% block title %}Create Book{% endblock %}

{% block body %}
    {% include 'header.html.twig' %}
    <div class="container shadow p-3 mb-5 bg-white">
        <div class="mt-4">
            <div class="mt-2">
                <div class="mb-3 float-right">
                    <form action="/admin/book">
                        <button class="btn btn-outline-primary" type="submit">
                            <i class="fa fa-list fa-1x" aria-hidden="true"> Book List</i>
                        </button>
                    </form>
                </div>
                <div class="row">
                    <div class="mb-3">
                        <span class="text-xl">Add new book</span>
                    </div>
                </div>
            </div>
        {{ form_start(form) }}
            {{ form_row(form.title) }}
            {{ form_label(form.author, 'Author') }} <a href={{ path("admin_author_new") }}>Add new</a>
            {{ form_widget(form.author, {'attr': {'class': 'author'}}) }}
            {{ form_label(form.category, 'Category') }} <a href={{ path("admin_category_new") }}>Add new</a>
            {{ form_widget(form.category, {'attr': {'class': 'category'}}) }}
            {{ form_row(form.description) }}
            {{ form_row(form.published_date) }}
            {{ form_row(form.price) }}
            <button type="submit" class="btn btn-primary">Create</button>
        {{ form_end(form) }}
        </div>
    </div>
{% endblock %}
