{% extends 'base.html.twig' %}

{% block title %}Create Book{% endblock %}

{% block body %}
    {% include 'header.html.twig' %}
    <div class="container shadow p-3 mb-5 bg-white">
        <div class="mt-4">
            <div class="mt-2">
                <div class="mb-3 float-right">
                    <form action="/books">
                        <button class="btn btn-outline-primary" type="submit">
                            <i class="fa fa-list fa-1x" aria-hidden="true"> Book List</i>
                        </button>
                    </form>
                </div>
                <div class="row">
                    <div class="mb-3">
                        <span class="text-xl">Name of the book</span>
                    </div>
                </div>
                <div>
                    <div class="row">
                        <div class="col col-sm-2">Author</div>
                        <div class="col col-sm-10">Name of the author</div>
                    </div>
                    <div class="row">
                        <div class="col col-sm-2">Description</div>
                        <div class="col col-sm-10">Description Description Description Description</div>
                    </div>
                    <div class="row">
                        <div class="col col-sm-2">Published Date</div>
                        <div class="col col-sm-10">2000/1/1</div>
                    </div>
                </div>
            </div>
        </div>
    </div>
{% endblock %}
