//Body

$primary-color: #2AA9DF;
$secondary-color: #CC0052;
$border-color: #777777;
$background-color: white;
$font-red: #D9534F;

// Typography
$font-family-sans-serif: 'Nunito', sans-serif;
$font-size-base: 0.9rem;
$font-size-s: 0.75rem;  //12px
$font-size-m: 1.125rem; //18px
$font-size-l: 1.25rem;  //20px
$font-size-xl: 1.625rem; //26px
$font-size-xxl: 2.25rem; //36px
$line-height-base: 1.6;
$line-height-sm: 1.1;

//Background images
$login-bg:'/images/background.jpg';