// Variables
@import 'variables';

// Font
@import "~font-awesome/scss/font-awesome";

// Bootstrap
@import "~bootstrap/scss/bootstrap";

body {
    background-color: $background-color;
}
.text-s {
    font-size: $font-size-s;
}

.text-m {
    font-size: $font-size-m;
}

.text-l {
    font-size: $font-size-l;
}

.text-xl {
    font-size: $font-size-xl;
}

.text-xxl {
    font-size: $font-size-xxl;
}

.text-red {
    color: $font-red;
}

.text-primary {
    color: $primary-color;
}

.btn-outline-primary {
    color: $primary-color;
    border-color: $primary-color;

    &:hover {
        color: white;
        background-color: $primary-color;
        border-color: $primary-color;
    }
}

.btn-outline-secondary {
    color: $secondary-color;
    border-color: $secondary-color;

    &:hover {
        color: white;
        background-color: $secondary-color;
        border-color: $secondary-color;
    }
}

.navbar {
    .bg-primary {
        background-color: $primary-color;
    }

    .navbar-brand {
        img {
            width: 30%;
        }
    }
}

.item {
    .item-row {
        border: 1px solid $border-color;
        border-radius: 0.5rem;
    }
    .item-img {
        img {
            height: 200px;
        }
    }
}

#cover {
    background: #222 url($login-bg) center center no-repeat;
    background-size: cover;
    height: 100%;
    text-align: center;
    display: flex;
    align-items: center;
    position: relative;
}

.cover-caption {
    width: 100%;
    position: relative;
    z-index: 1;

    /* only used for background overlay not needed for centering */
    form:before {
        content: '';
        height: 100%;
        left: 0;
        position: absolute;
        top: 0;
        width: 100%;
        background-color: rgba(0,0,0,0.6);
        z-index: -1;
        border-radius: 10px;
    }
}





