<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8">
        <title>{% block title %}Welcome!{% endblock %}</title>
        {% block stylesheets %}
            <link rel="stylesheet" href="/build/app.css">
        {% endblock %}
        <script src="https://code.jquery.com/jquery-git.min.js" charset="utf-8"></script>
        <script src="{{ asset('build/runtime.js') }}"></script>
    </head>
    <body>
        {% block body %}{% endblock %}
        {% block javascripts %}
            <script src="/build/app.js" charset="utf-8"></script>
        {% endblock %}
    </body>
</html>
