<nav class="navbar navbar-expand-sm navbar-light bg-primary">
    {#        <div class="container">#}
    <a class="navbar-brand" href={{ path('store_home') }}>
        <img src="{{ asset('images/logo.png') }}">
    </a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarTogglerDemo02" aria-controls="navbarTogglerDemo02" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
    </button>

    <div class="collapse navbar-collapse" id="navbarTogglerDemo02">
        <div class="ml-auto mr-2">
            <a id="cart-summary-block" class="btn btn-outline-secondary  my-2 my-sm-0" href={{ path('store_cart') }}>
                <i class="fa fa-shopping-cart fa-2x" aria-hidden="true"> </i>
                <span class="item-count">
                    {{ app.session.get('cart').getTotalQuantity() is defined ? app.session.get('cart').getTotalQuantity() : '0' }}
                </span> items<br>
                <span>Total Price = US$
                    <span class="total-price">
                        {{app.session.get('cart').getTotalPrice() is defined ? app.session.get('cart').getDiscountPrice(): '0' }}
                    </span>
                </span>
            </a>
        </div>
        <div class="btn-group">
            {% if is_granted('ROLE_USER') %}
                <a class="btn  my-2 my-sm-0" href={{ path('app_logout') }}>
                    Logout
                    <i class="fa fa-sign-out" aria-hidden="true"></i>
                </a>
            {% else %}
                <a class="btn  my-2 my-sm-0" href={{ path('app_login') }}>
                    Login
                    <i class="fa fa-sign-in" aria-hidden="true"></i>
                </a>
            {% endif %}
        </div>
    </div>
    {#        </div>#}
</nav>