{% extends 'base.html.twig' %}

{% block body %}
    {% include 'header.html.twig' %}
    <div class="container shadow p-3 mb-5 bg-white">
        <div class="mt-4">
        <div class="d-inline text-right">
            <form action={{ path('store_home') }}>
                <div class="form-group row">
                    <label for="categorySelect" class="col-6 col-form-label">Category:</label>
                    <div class="col-6">
                        <select name="bookcategory" class="form-control" id="categorySelect" >
                            <option value="all">All</option>
                            {% for category in categories %}
                                <option value={{ category.id }}
                                        {% if app.request.get('bookcategory')== category.id%}
                                        selected="slected"
                                        {% endif %}
                                >{{ category.name }}</option>
                            {% endfor %}
                        </select>
                    </div>
                </div>
            </form>
        </div>
        <div class="mt-2">
            {% for book in books  %}
                <div class="my-3 item">
                    <div class="p-2 item-row">
                        <div class="row">
                            <div class="item-img col-sm-5 col-md-3">
                                <img src="{{ asset('images/sample-book.jpg') }}">
                            </div>
                            <div class="col-sm-7 col-md-9">
                                <span class="text-xl text-primary"><a class="" href="/book/{{ book.id }}">{{ book.title }}</a></span><br/>
                                <span class="text-m text-primary">{{ book.author.name }}</span><br/>
                                <span class="text-m text-secondary">{{ book.category.name }}</span><br/>
                                <div class="row">
                                    <div class="col-7">
                                        <span class="text-s">{{ book.description }}</span>
                                    </div>
                                    <div class="col-5 text-right text-red">
                                        <span class="text-m text-bold">US${{ book.price }}</span>
                                    </div>
                                </div>
                                <div class="row">
                                    <div class="col-7">
                                        <a class="mt-2 btn btn-outline-primary" href="/book/{{ book.id }}">
                                            <i class="fa fa-eye fa-1x"></i>
                                        </a>
                                    </div>
                                    <div class="col-5 text-right">
                                        <button class="mt-2 btn btn-outline-primary add-to-cart" data-book-id={{ book.id }}>
                                            <i class="fa fa-shopping-cart fa-1x" aria-hidden="true"> Add To Cart</i>
                                        </button>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            {% endfor %}
            <nav aria-label="Page navigation example">
                <ul class="pagination">
                    {{ knp_pagination_render(books) }}
                </ul>
            </nav>
        </div>
    </div>
    </div>
{% endblock %}